@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FFD54F;
  --secondary: #ffffff;
  --dull : #E0C98D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Saturday';
  src: url('/fonts/Saturday.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  min-height: 100vh;
  background: var(--secondary);
  position: relative;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Ensure content is positioned properly relative to the background */
main {
  position: relative;
  z-index: 1;
}


